<%= form_with(model: product, local: true) do |form|  %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :money %>
    <%= form.text_field :money, class: 'form-control' %>
  </div>

  <div class="field form-group ">
    <%= form.label :start_at %>
    <!-- <div class="form-group"> -->
      <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
           <input type="text" name="product[start_at]" class="form-control datetimepicker-input" data-target="#datetimepicker7"/>
           <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
               <div class="input-group-text"><i class="fa fa-calendar"></i></div>
           </div>
       </div>
   <!-- </div> -->
  </div>

  

  <div class="field form-group">
    <%= form.label :end_at %>
    <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
      <input type="text" name="product[end_at]" class="form-control datetimepicker-input" data-target="#datetimepicker8"/>
      <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
  </div>
  </div>

  <div class="field form-group">
    <%= form.label :currency %>
    <select name="product[currency]", class= 'js-states custom-select mr-sm-2'>
      <option value="NTD">NTD</option>
      <option value="USD">USD</option>
      <option value="HKD">HKD</option>
    </select>
  </div>

  <div class="field form-group">
    <%= form.label :text_field %>

    <select class="form-control js-example-tokenizer" multiple="multiple", name= "product[tag_list][]">
    </select>

  </div>
  <div class="actions"> 
    <%= form.submit class: 'submit', data: { confirm_swal: '' }, class: 'btn btn-primary' %>
  </div>
<% end %>


<script>

$(function () {
      $('#datetimepicker7').datetimepicker();
      $('#datetimepicker8').datetimepicker({
          useCurrent: false
      });
      $("#datetimepicker7").on("change.datetimepicker", function (e) {
          $('#datetimepicker8').datetimepicker('minDate', e.date);
      });
      $("#datetimepicker8").on("change.datetimepicker", function (e) {
          $('#datetimepicker7').datetimepicker('maxDate', e.date);
      });
  });

window.addEventListener('DOMContentLoaded', () => {
  $('.js-states').select2()
})

$(".js-example-tokenizer").select2({
    tags: true,
    tokenSeparators: [',', ' '],
    // multiple: true
})


document.querySelector('.submit').addEventListener('click', function(e){
  e.preventDefault();
  Swal.fire({
  title: 'Are you sure?',
  text: "You will create a product!?",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'OK'
}).then((result) => {
  // console.log(result)
  if (result.isConfirmed) {
    Swal.fire(
      'Loading...'
    )
    document.querySelector('form').submit()
  }
})
})


</script>

